$color-green-primary: #6eb800;
$color-green-light: #8DE212;
$color-green-dark: #599700;

$color-grey-light: #f0f0f0;
$color-grey-primary: grey;

$color-blue-fb: #3B5998;
$color-blue-tw: #0084B4;

$color-yellow-email: #FFCB01;

$color-red-youtube: #E62117;


$color-blue: #658DB5;
$color-green: #59757C;




$color-text: #6A6C6E;